* {
    margin: 0;
    /* border: 1px solid rgb(255, 0, 0); */
    background-color: rgb(255, 255, 255)255);
 
}

.page-container {
    

}
.city-container {

    
}
.forecast-container {
   
  
}
#search-history{
    height: auto;
    width: 450px
}
.display-card {
    text-align: center;
}
.display-forecast {
   
}
.center {
    text-align: center;
}
.card {
    text-align: center;
}
.header {
    text-align: center;
    border: 2px blue solid;
    background-color: cornflowerblue;
    padding: 20px 0 20px 0;
}

.search-container {
    text-align: center;
    padding-top: 40px;
    width: 20%;
    margin-bottom: 80%;
    
    ;
}
.search-container h2 {
    padding-bottom: 20px;
}
.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }
  .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }

  .center-text {
      text-align: center;
  }

  .current-weather {
      color: rgb(0, 225, 255);
      margin-bottom: 10px;
      text-align: center;
      font-size: large;
      border-bottom: yellow solid 2px;
      
  }

  .weather-icon {
     
      
  }

  #current-forecast {
      text-align: center;
      font-size: larger;
  }
  .hide {
    visibility: hidden;
  }

  #user-form {
      margin-top: 2%;
      font-size: x-large;
  }

  .current-container {
    
  }